apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: media
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
      
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: molnarimi0211/mdpet:backend-1
          ports:
            - containerPort: 3001
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: openai-api-key
                  key: apiKey
